


@model ClientMVC.Models.mvcPersonaModal
@{
    ViewBag.Title = "Add";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdPersona)

        <div class="form-group">
            @Html.Label("Número de Documento")
            @Html.EditorFor(model => model.NroDocumento)
            @Html.ValidationMessageFor(model => model.NroDocumento)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres)
            @Html.EditorFor(model => model.Nombres)
            @Html.ValidationMessageFor(model => model.Nombres)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos)
            @Html.EditorFor(model => model.Apellidos)
            @Html.ValidationMessageFor(model => model.Apellidos)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio)
            @Html.EditorFor(model => model.Domicilio)
            @Html.ValidationMessageFor(model => model.Domicilio)
        </div>

        <div class="form-group">
            <input type="submit" value="Registrar" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

